<div class="p-fluid">
    <div class="p-field">
      <p-dropdown
        [options]="employees"
        [(ngModel)]="selectedEmployee"
        optionLabel="personalInformation.name"
        placeholder="Select an employee"
        [filter]="true"
        filterBy="personalInformation.name"
      ></p-dropdown>
    </div>
  
    <div class="p-field">
      <p-dropdown [(ngModel)]="selectedRole"
      [options]= "roleOptions"
      placeholder="Select a role">
      </p-dropdown>
    </div>
  
    <div class="p-dialog-footer">
      <button pButton type="button" (click)="onConvert()" label="Convert"></button>
      <button pButton type="button" (click)="onCancel()" label="Cancel"></button>
    </div>
  </div>