<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  @if(data.action==='Add'){

  <h2>Add an User</h2>

  <mat-form-field appearance="fill" class="form-row">
    <mat-label>Select an employee</mat-label>
    <mat-select formControlName="employee">
      <mat-option *ngFor="let employee of nonUserEmployees" [value]="employee._id">
        {{ employee.personalInformation.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  } @else if(data.action==='Edit'){
  <h2>Edit User</h2>
  <div class="form-row">
    <mat-chip>
      {{ data.user.employeeInfo.name }}
    </mat-chip>
  </div>
  }


  <mat-form-field appearance="fill" class="form-row">
    <mat-label>Select a role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roleOptions" [value]="role.value">
        {{ role.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>