<div class="p-fluid" >
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <div  class="p-field" *ngIf="!isEditing" >
      <p-dropdown
        [options]="employees"
        optionLabel="personalInformation.name"
        placeholder="Select an employee"
        [filter]="true"
        filterBy="personalInformation.name"
        formControlName="employee"
        [virtualScroll]="true"
      ></p-dropdown>
    </div>

    <div *ngIf="isEditing">
      <p-chip label="{{user?.employeeInfo.name}}">
      </p-chip>
    </div>

    <div class="p-field">
      <p-dropdown
        [options]="roleOptions"
        placeholder="Select a role"
        formControlName="role"
        [virtualScroll]="true"
      ></p-dropdown>
    </div>

    <div class="p-dialog-footer">
      <button pButton type="submit" label="Submit"></button>
      <button pButton type="button" (click)="onCancel()" label="Cancel"></button>
    </div>
  </form>
</div>