@import "primeicons/primeicons.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .button {
    color: black;
    background-color: white;
    border: none;
  }

  .button:hover {
    background-color: #dcdcdc; 
  }

 
